<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Movies</title>
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container" ng-app="myApp" ng-controller="myCtrl as Ctrl">
    <div class="row">
        <div class="page-header">
            <h1>Movies <small>manager</small></h1>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Title" ng-model="Ctrl.movie.title">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword4" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword4" placeholder="Description" ng-model="Ctrl.movie.description">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword5" class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="inputPassword5" placeholder="Date" ng-model="Ctrl.movie.released">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword6" class="col-sm-2 control-label">Rating</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputPassword6" placeholder="Rating" ng-model="Ctrl.movie.rating">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10" ng-if="Ctrl.editMode">
                    <button type="submit" class="btn btn-default" ng-click="Ctrl.update(Ctrl.movie)">UPDATE</button>
                    <button type="button" class="btn btn-default" ng-click="Ctrl.cancel()">Cancel</button>
                </div>
                <div class="col-sm-offset-2 col-sm-10" ng-if="!Ctrl.editMode">
                    <button type="submit" class="btn btn-success" ng-click="Ctrl.add(Ctrl.movie)">Add new movie</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div></div>
        <div>
            <table id="table" class="table stripped">
                <thead>
                <tr>
                    <th>
                        TITLE
                    </th>
                    <th style="width: 40%">
                        DESCRIPTION
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        RATING
                    </th>
                    <th>
                        BUTTON
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="movie in Ctrl.movies">

                    <td>
                        {{ movie.title }}
                    </td>
                    <td style="width: 40%">
                        {{ movie.description }}
                    </td>
                    <td>
                        {{ movie.released | date: 'yyyy-MM-dd' }}
                    </td>
                    <td>
                        {{ movie.rating }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="Ctrl.delete(movie._id, $index)">Delete</button>
                        <button type="button" class="btn btn-primary" ng-click="Ctrl.putItemToUpdate(movie, movie._id, $index)">Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>

  (function () {
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($http) {
      var self = this;
      self.movie = {};
      self.editMode = false;


      self.add = function (movie) {

        $http.post("/api/movies", movie)
          .then(function(response) {
            self.movies.push(response.data);
          });
        self.movie = {};
      };

      self.putItemToUpdate = function (newMovie, id, index) {
        self.editMode = true;
        self.movie = newMovie;
        self.movie.released = new Date(newMovie.released);
        self.index = index;
      };

      self.cancel = function() {
        self.movie = {};
        self.editMode = false;
      };

      self.update = function (movie) {

        $http.put("/api/movies/" + movie._id, movie)
          .then(function() {
            self.movies[self.index] = movie;
          });
        self.index = null;
        self.editMode = false;
        self.movie = {};
      };


      self.delete = function (id, index) {
        $http.delete("/api/movies/" + id)
          .then(function() {
            self.movies.splice(index, 1);
          });
      };




      $http.get("/api/movies")
        .then(function(response) {
          self.movies = response.data;
        });


    });



  } ());
</script>
</body>
</html>